<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Events</ion-title>
  </ion-navbar>
</ion-header>

<!--<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>-->
<ion-content>
  <ion-list>
    <ion-card *ngFor="let item of items">

      <ion-item>
        <ion-avatar item-left>
          <img [src]="item.img">
        </ion-avatar>
        <h2>{{item.status}}</h2>
        <p>{{item.date}}</p>
      </ion-item>


      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small color="secondary">
          <ion-icon name="open"></ion-icon>
          {{item.isOpen}}
        </button>
        </ion-col>

        <ion-col text-center>
          <button ion-button icon-left clear small color="danger">
          <ion-note>
          {{item.when | date: 'HH:mm:ss'}}
          </ion-note>
        </button>
        </ion-col>

        <ion-col center text-center>
          <button ion-button icon-left clear small>
            {{item.server}}
          </button>
        </ion-col>
      </ion-row>

    </ion-card>

  </ion-list>

</ion-content>